@model Shop.Models.AnaSayfaCokluListeleme
@inject Shop.Data.ApplicationDbContext context
<br />
<br />
<br />
<br />

<div class="container">
	<font size="5" color="red">Hakkımızda</font>
	<br />
</div>

<div class="container">
	
<b>
	
	<font size="5">
		Hcs, tüketiciyi doğru ürün, doğru satıcı ve doğru fiyatla buluşturan bir alışveriş platformudur.
		ODTÜ Teknokent'te kurulduğu 2000 yılından bu yana alışverişçilere en ucuz fiyatları sunan Hcs, 
		Türkiye'de hızla büyüyen e-ticaret sektörünün referans merkezi olarak çalışıyor. 
		Aylık 20 milyonun üzerinde alışverişiyle Türkiye e-ticaret pazarının %95'ine tek platform üzerinden, hızlı ve kolay erişim sağlayan Hcs, 
		hızla büyüyen uzman ekibinin yanı sıra geniş satıcı ağı sayesinde alışverişçilerin aradıkları her türlü ürün için birinci adres haline geldi.
		Hcs, Japon Beenos grubu ortaklığında, güçlü altyapısı ve uzman kadrosuyla beraber teknoloji üretiminde gerçekleştirdiği ilklerle sektörüne yön vermektedir.

	</font>
</b>
	

</div>
<br />
<br />
<br />
<br />
<br />
